.cart-container {
    padding-top: 65px;
}
.cart-container .title {
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    color: #000;
    text-align: center;
}
.cart-container .products-wrapper {
    margin-top: 50px;
}
.products .product {
    padding: 15px;
}
.products .product .img {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.products .product .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #232C38;
    margin-top: 10px;
}
.products .product .price-color {
    margin-top: 10px;
    overflow: hidden;
}
.products .product .price-color::after,
.products .product .quantity-delete::after,
.product .quantity-delete .quantity::after,
.list-button::after,
.list-button-wrapper::after {
    content: '';
    clear: both;
}
.product .price-color .price {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FE3834;
    float: left;
}
.product .price-color .color {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #6C6C6C;
    float: right;
}
.products .product .quantity-delete {
    margin-top: 10px;
    overflow: hidden;
}
.product .quantity-delete .quantity {
    width: 80px;
    height: 20px;
    float: left;
}
.quantity-delete .quantity span {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background-color: #EFEFEF;
    line-height: 20px;
    cursor: pointer;
}
.quantity-delete .quantity span:first-child {
    margin-left: 0;
}
.quantity-delete .quantity input {
    width: 30px;
    height: 20px;
    background-color: #fff;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #2E2E2E;
    float: left;
    margin: 0;
    border: 1px solid #E1E1E1;
    margin-left: 2px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    border-radius: 62px;
    box-sizing: border-box;
}
.product .quantity-delete .delete-link {
    float: right;
}
.quantity-delete .delete-link a {
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000;
}
.list-button-wrapper {
    padding: 30px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 80px;
}
.list-button {
   width: fit-content;
   margin: auto;
   overflow: hidden;
}
.list-button a {
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    padding: 12px 38px;
    box-sizing: border-box;
    float: left;
}
.list-button .come-back {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}
.list-button .complete {
    color: #fff;
    background-color: #000000;
    border: 2px solid #000000;
    margin-left: 60px;
}
.list-button .sum {
    float: left;
    margin-left: 60px;
}
.list-button .sum .sum-price {
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    color: #000;
}
.list-button .sum .count-products {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: #000;
}