* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
border-bottom: unset;
-webkit-box-shadow: unset;
box-shadow: unset;
}
nav {
  background-color: unset;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}
.remove-line-height {
line-height: 0;
}
a {
  box-shadow: unset;
  -webkit-box-shadow: unset;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
.ipk-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F8F8F8;
}
.dropdown-content li:hover, .dropdown-content li.active {
  background-color: unset;
}
.ipk-container .ipk-content-container {
  max-width: 1140px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
.row {
  margin-bottom: 0;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
margin-left: auto;
left: auto;
right: auto;
}
.row .col.s5ths {
width: calc(20% - 16px);
margin-left: 20px;
}
.add-cart-success {
width: 500px;
height: 70px;
padding: 0;
padding-left: 90px;
position: relative;
background-color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top: 0;
font-weight: normal;
font-size: 16px;
line-height: 70px;
color: #523535;
}
.add-cart-success::before {
content: '';
background-image: url(/public/assets/images/product-details/done.svg);
background-position: center;
background-size: 34px 34px;
background-repeat: no-repeat;
top: 0;
left: 0;
width: 70px;
height: 70px;
background-color: #EDF5E6;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: absolute;
}
.add-cart-fail {
width: 500px;
height: 70px;
padding: 0;
padding-left: 90px;
position: relative;
background-color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top: 0;
font-weight: normal;
font-size: 16px;
line-height: 70px;
color: #523535;
}
.add-cart-fail::before {
content: '';
background-image: url(/public/assets/images/product-details/done.svg);
background-position: center;
background-size: 34px 34px;
background-repeat: no-repeat;
top: 0;
left: 0;
width: 70px;
height: 70px;
background-color: red;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: absolute;
}
.ipk-preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 50%);
z-index: 10000;
}
.ipk-preloader .preloader-wrapper {
position: absolute;
top: calc(50% - 32px);
left: calc(50% - 32px);
}
@media only screen and (min-width: 601px) {
.row .col.m5ths {
  width: calc(20% - 16px);
  margin-left: 20px;
}
.row .col {
  padding: 0;
}
.row .col:first-child {
    margin-left: 0!important;
}
}
@media only screen and (min-width: 993px) {
.row .col.l5ths {
  width: calc(20% - 16px);
  margin-left: 20px;
}
}
@media only screen and (min-width: 1201px) {
.row .col.xl5ths {
  width: calc(20% - 16px);
  margin-left: 20px;
}
}
