.footer-container {
    background-color: #fff;
}
.footer {
    padding-top: 50px;
}
.footer .col {
    padding-right: 20px;
}
.footer .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-transform: uppercase;
}
.footer .company-infos {
    margin-top: 10px;
}
.footer .company-infos .company-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    opacity: 0.69;
    margin-top: 5px;
}
.footer .footer-link:first-child {
    margin-top: 10px;
}
.footer .footer-link a,
.footer .footer-link a:hover {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    display: block;
    margin-top: 5px;
}
.footer .social-icons {
    margin-top: 58px;
}
.footer .social-icons .ipk-footer-icon {
    background-repeat: no-repeat;
    background-size: 29px 28px;
    display: inline-block;
    margin-left: 15px;
}
.footer .social-icons .facebook-icon {
    background-image: url(/assets/images/footer/facebook.svg);
    width: 29px;
    height: 28px;
    margin-left: 0;
}
.footer .social-icons .instagram-icon {
    background-image: url(/assets/images/footer/instagram.svg);
    width: 29px;
    height: 28px;
}
.footer .social-icons .youtube-icon {
    background-image: url(/assets/images/footer/youtube.svg);
    width: 36px;
    height: 28px;
    background-size: 36px 28px;
}
.footer .bo-cong-thuong-icon {
    margin-top: 25px;
}
.copyright {
    background-color: #131313;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}