.forgot-password-container {
    padding: 190px 0;
}

.forgot-password-container .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.forgot-password-container .email, .forgot-password-container .email[type=text]:not(.browser-default), .forgot-password-container .email[type=text]:not(.browser-default):focus:not([readonly]) {
    border: 1px solid #231F20;
    width: 452px;
    height: 45px;
    padding: 14px 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5B5B5B;
    margin-bottom: 0;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 55px;
}

.forgot-password-container .submit-forgot-password-form {
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    display: block;
}

@media only screen and (max-width: 414px) {
    .forgot-password-container .title {
        font-weight: bold;
        font-size: 22px;
    }
    .forgot-password-container {
        padding: 30px 0;
    }
    .forgot-password-container .email, .forgot-password-container .email[type=text]:not(.browser-default), .forgot-password-container .email[type=text]:not(.browser-default):focus:not([readonly]) {
      
        margin-top: 24px;
        width: 100%;
    }
}