.products {
    margin-top: 20px;
}

.row .col.product {
    padding: 30px;
}

.row .col.product .img {
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.row .col.product .name a {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #232C38;
}

.row .col.product .price {
    margin-top: 10px;
}

.row .col.product .price .sale {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FE3834;
    width: calc(50% - 2px);
    text-align: left;
    display: inline-block;
}

.row .col.product .price .origin {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #7B7B7B;
    width: calc(50% - 2px);
    text-align: right;
    display: inline-block;
}

.row .col.product .button-wrapper {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #DDDDDD;
    display: none;
}

.row .col.product:hover {
    background-color: #fff;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.row .col.product:hover .button-wrapper {
    display: block;
}

.col.product .button-wrapper a {
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #073552;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.col.product.added-wishlist {
    position: relative;
}

.col.product.added-wishlist::before,
#quickview .product-img.added-wishlist::after {
    content: '';
    position: absolute;
    background-image: url(/assets/images/product/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 19px;
    width: 34px;
    height: 34px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    background-color: #fff;
}

#quickview .product-img.added-wishlist::after {
    top: 15px;
    right: 15px;
    left: unset;
}

#quickview {
    padding: 10px;
    width: 90%;
    max-height: 90%;
}

#quickview .modal-content {
    overflow: hidden;
}

#quickview .modal-content::after {
    content: '';
    clear: both;
}

.quickview-slider {
    width: 40%;
    float: left;
}

#quickview .product-infos {
    padding: 0 30px;
    float: left;
    width: 60%;
}

#quickview .product-img .sale-percent {
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: normal;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    width: 35px;
    height: 35px;
    background-color: #131313;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#quickview .product-infos .name {
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
    color: #000;
}

#quickview .product-infos .description {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #2E2E2E;
}

#quickview .product-infos .list-tags {
    margin-top: 17px;
}

#quickview .product-infos .list-tags .tag {
    width: 66px;
    height: 20px;
    display: inline-block;
    margin-left: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#quickview .product-infos .list-tags .tag:first-child {
    margin-left: 0;
}

#quickview .product-infos .list-tags .tag.hang-moi {
    background-color: #E24C4C;
}

#quickview .product-infos .list-tags .tag.ban-chay {
    background-color: #219653;
    ;
}

#quickview .product-infos .list-tags .tag.giam-gia {
    background-color: #2F80ED;
}

#quickview .product-infos .list-tags .tag::before {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    display: block;
}

#quickview .product-infos .list-tags .tag.hang-moi::before {
    content: 'Hàng mới';
}

#quickview .product-infos .list-tags .tag.ban-chay::before {
    content: 'Bán chạy';
}

#quickview .product-infos .list-tags .tag.giam-gia::before {
    content: 'Giảm giá';
}

#quickview .product-infos .price {
    background-color: #F4F4F4;
    border: 1.08511px solid #DDDDDD;
    margin-top: 20px;
    padding: 10px 15px;
    overflow: hidden;
}

#quickview .product-infos .price::after {
    content: '';
    clear: both;
}

#quickview .product-infos .price .origin {
    font-weight: normal;
    font-size: 11.297px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #7B7B7B;
    float: left;
}

#quickview .product-infos .price .sale {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FE3834;
    float: right;
}

#quickview .product-infos .price .sale span {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #fff;
    background: #EB5757;
    display: inline-block;
}

#quickview .product-infos .status-wrapper {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
}

#quickview .product-infos .status-label,
#quickview .product-infos .list-status .status,
#quickview .product-infos .list-status {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}

#quickview .product-infos .list-status .status {
    margin-left: 12px;
}

#quickview .product-infos .status-label {
    color: #000;
}

#quickview .product-infos .list-status .status.het-hang::before {
    content: 'Hết hàng';
    color: #EB5757;
}

#quickview .product-infos .list-status .status.dat-truoc::before {
    content: 'Đặt trước';
    color: #2F80ED;
}

#quickview .product-infos .list-status .status.con-hang::before {
    content: 'Còn hàng';
    color: #219653;
}

#quickview .product-infos .colors-wrapper {
    margin-top: 12px;
}

#quickview .product-infos .color-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
}

#quickview .product-infos .colors {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

#quickview .product-infos .colors .color {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #6C6C6C;
    background-color: #EFEFEF;
    display: inline-block;
    margin-left: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

#quickview .product-infos .colors .color.active {
    background-color: #131313;
    color: #fff;
}

#quickview .product-infos .sizes-wrapper {
    margin-top: 17px;
}

#quickview .product-infos .size-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    display: inline-block;
}

#quickview .product-infos .size-label a {
    font-weight: 500;
    font-size: 11.297px;
    line-height: 13px;
    color: #000;
    display: inline-block;
    margin-left: 5px;
}

#quickview .product-infos .sizes {
    margin-top: 15px;
}

#quickview .product-infos .sizes .size {
    display: inline-block;
    margin-left: 15px;
    background-color: #EFEFEF;
    font-weight: normal;
    font-size: 11px;
    line-height: 32px;
    color: #6C6C6C;
    cursor: pointer;
    width: 75px;
    height: 32px;
    text-align: center;
}

#quickview .product-infos .sizes .size.active {
    background-color: #131313;
    color: #fff;
}

#quickview .product-infos .sizes .size:first-child {
    margin-left: 0;
}

#quickview .product-infos .pre-order-block {
    margin-top: 20px;
}

#quickview .product-infos .pre-order-block::after {
    content: '';
    clear: both;
}

#quickview .pre-order-block .quantity-input {
    width: 90px;
    height: 39px;
    padding: 10px 13px;
    border: 1.027px solid #DDDDDD;
    float: left;
    background-color: #fff;
}

#quickview .pre-order-block .quantity-input::after {
    content: '';
    clear: both;
}

#quickview .quantity-input input,
#quickview .quantity-input span {
    float: left;
    height: 100%;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000;
}

#quickview .quantity-input input {
    width: 80%;
    text-align: center;
    border: none;
}

#quickview .quantity-input span {
    width: 10%;
    cursor: pointer;
}

#quickview .pre-order-block .add-to-card-btn,
#quickview .pre-order-block .buy-now-btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    margin-left: 10px;
    padding: 10px;
}

#quickview .pre-order-block .add-to-card-btn {
    background-image: url(/assets/images/product/cart.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-color: #131313;
    padding-left: 20px;
}

#quickview .pre-order-block .buy-now-btn {
    background-color: #E24C4C;
}

#quickview .quickview-slider .previous,
#quickview .quickview-slider .next {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    background-position: center;
    top: calc(50% - 15px);
}

#quickview .quickview-slider .previous {
    left: 15px;
    background-image: url(/assets/images/product/left.svg);
}

#quickview .quickview-slider .next {
    right: 15px;
    background-image: url(/assets/images/product/right.svg);
}

#quickview .close-quickview {
    background-image: url(/assets/images/product/close-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.quickview-slider .indicators .indicator-item {
    background-color: #C4C4C4;
}

.quickview-slider .indicators .indicator-item.active {
    background-color: #000;
}

.view-more {
    border: 1px solid #000000;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 13px 20px;
    display: block;
    margin-top: 20px;
}