.login-container {
    padding: 135px 0 80px 0;
}

.login-container .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
}

.login-container .sub-title {
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin-top: 15px;
}

.login-container form {
    margin-top: 90px;
}

.login-container form .ipk-form-input, .login-container form .ipk-form-input[type=text]:not(.browser-default):focus:not([readonly]), .login-container form .ipk-form-input[type=password]:not(.browser-default):focus:not([readonly]) {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5B5B5B;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    width: 85%;
}

.login-container form .forgot-pass-btn {
    display: block;
    margin-top: 55px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8B8585;
    text-decoration: underline;
}

.login-container form .btn-dang-nhap {
    padding: 15px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000000;
    margin-top: 30px;
    background-color: transparent;
    cursor: pointer;
}

.login-container .create-account-btn {
    margin-top: 80px;
}

.login-container .create-account-btn a {
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000000;
    display: block;
    width: 220px;
    height: 50px;
}

.login-container .or-group {
    width: 450px;
    margin: auto;
    margin-top: 75px;
}

.login-container .or-group .or-label {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #000;
}

.login-container .or-group .options {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}

.login-container .options .fb, .login-container .options .gg {
    float: left;
    height: 40px;
}

.login-container .options .fb {
    width: 120px;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: url(/public/assets/images/signup/fb.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 30px;
}

.login-container .options .or-txt {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #000;
    float: left;
    margin: 0 20px;
}

.login-container .options::after {
    content: '';
    clear: both;
}

@media only screen and (max-width: 414px) {
    .login-container .title {
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 40px;
    }
    .login-container {
        padding: 10px 0 0 !important;
    }
    .login-container form .forgot-pass-btn {
        margin-top: 16px;
    }
    .login-container .or-group {
        margin-top: 30px !important;
    }
    .login-container form .ipk-form-input, .login-container form .ipk-form-input[type=text]:not(.browser-default):focus:not([readonly]), .login-container form .ipk-form-input[type=password]:not(.browser-default):focus:not([readonly]) {
    
        width: 100%;
    }
}

/* end 414 */