.news-details-container {
    padding-top: 25px;
    padding-bottom: 30px;
}

.news-details-wrapper {
    padding: 35px 30px;
    background: #fff;
}

.news-details-line-1 {
    overflow: hidden;
}

.news-details-line-1::after,
.news-last-line::after {
    content: '';
    clear: both;
}

.news-details-line-1 .news-title {
    float: left;
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    color: #000;
}

.news-details-line-1 .share-block {
    float: right;
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

.share-block span {
    line-height: 41px;
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

.share-block a {
    display: inline-block;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 41px;
}

.share-block a.fb-share {
    background-image: url(/public/assets/images/news-details/fb.svg);
    background-size: 7px 13px;
    width: 7px;
    height: 13px;
}

.share-block a.instagram-share {
    background-image: url(/public/assets/images/news-details/in.svg);
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.share-block a.pinterest-share {
    background-image: url(/public/assets/images/news-details/pin.svg);
    background-size: 11px 13px;
    width: 11px;
    height: 13px;
}

.share-block a.twister-share {
    background-image: url(/public/assets/images/news-details/tw.svg);
    background-size: 17px 14px;
    width: 17px;
    height: 14px;
}

.share-block a.email-share {
    background-image: url(/public/assets/images/news-details/email.svg);
    background-size: 18px 13px;
    width: 18px;
    height: 13px;
}

.news-details-line-2 {
    margin-top: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    opacity: 54%;
}

.news-details {
    font-size: 18px;
    line-height: 18px;
    margin-top: 25px;
}

.news-details img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-same-news {
    margin-top: 70px;
}

.same-news-txt {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000;
    padding-left: 10px;
}

.same-news-wrapper {
    margin-top: 0px;
}

.carousel-item .news-img {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-item .news-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #333;
    padding: 0 16px;
    background-color: #fff;
    padding-top: 10px;
}

.carousel-item .news-content {
    padding-top: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #666;
    padding: 0 16px;
    background-color: #fff;
}

.carousel-item .news-item {
    padding: 10px;
}

.carousel-item .news-last-line {
    padding: 20px 16px;
    overflow: hidden;
    background-color: #fff;
}

.news-last-line span {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    float: left;
}

.news-last-line a {
    width: 70px;
    height: 20px;
    display: block;
    float: right;
    background-color: #073552;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}


.same-news-wrapper .carousel.carousel-slider {
    height: 450px !important;
}

.same-news-back,
.same-news-next {
    position: absolute;
    z-index: 10;
    color: #000;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: calc(50% - 25px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
}

.same-news-back {
    left: 0px;
}

.same-news-next {
    right: 0;
}

.same-news-back .material-icons,
.same-news-next .material-icons {
    font-size: 25px;
    line-height: 50px;
}


@media only screen and (max-width: 414px){
    .news-details-wrapper {
        border-radius: 4px;
    }
    .news-details-line-1 .news-title {
        font-size: 17px;
        line-height: 17px;
    }
    .share-block span {
        font-size: 12px;
    }
    .news-details-line-2 {
        font-size: 12px;
        margin-top: 0px; 
    }
    .news-details-line-1 .share-block {
        margin-top: -10px;
    }
    .news-details-wrapper {
        padding: 20px 15px;
        background: #fff;
    }
    .list-same-news {
        margin-top: 30px;
    }
    .same-news-txt {
        font-size: 16px;
    }
    .carousel-item .news-title {
        padding: 5px 10px;
    }
    .carousel-item .news-last-line {
        padding: 0px 10px 10px 10px;
    }
}
