.orders-container {
    padding-top: 20px;
}
.orders-txt {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #000;
    text-align: center;
    margin-top: 115px;
}
.list-order {
    max-width: 920px;
    margin: auto;
    margin-top: 75px;
}
.list-order .order {
    padding: 20px 0;
    border-top: 1px solid #8B8585;
}
.list-order .order:last-child {
    border-bottom: 1px solid #8B8585;
}
.list-order .order .order-code {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
.list-order .order .receive-date {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-top: 19px;
}
.list-order .order .sum {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-top: 11px;
}
.load-more {
    padding-top: 80px;
    padding-bottom: 65px;
}
.load-more a {
    display: block;
    width: 168px;
    height: 50px;
    margin: auto;  
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #000;  
    border: 1px solid #000;
}