.product-container {
    padding-top: 30px;
}

.product-container .list-thumb-wrapper .img-block {
    position: relative;
}

.product-container .list-thumb-wrapper .up,
.product-container .list-thumb-wrapper .down {
    width: 100%;
    height: 20px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    text-align: center;
    background-size: 14px 9px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 0;
}

.product-container .list-thumb-wrapper .up {
    background-image: url(/public/assets/images/product-details/up.svg);
    top: 0;
}

.product-container .list-thumb-wrapper .down {
    background-image: url(/public/assets/images/product-details/down.svg);
    bottom: 0;
}

.product-container .list-thumb-wrapper .thumbs-wrapper {
    width: 100%;
    max-height: 470px;
    height: fit-content;
    overflow: hidden;
}

.product-container .list-thumb-wrapper .thumbs-wrapper span {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    cursor: pointer;
}

.product-container .list-thumb-wrapper .thumbs {
    height: fit-content;
}

.product-container .list-thumb-wrapper .video-icon,
#list-image-popup .list-thumbs-popup .video-icon-popup a {
    background-image: url(/public/assets/images/product-details/video.svg);
    background-size: 40px 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    width: 100%;
    padding-top: 100%;
    margin-top: 2px;
}

.product-container .main-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}

.product-container .main-image.is-image {
    padding-top: 100%;
}

.product-container .main-image .yt-player {
    width: 100%;
}

.product-container .full-screen-btn {
    background-image: url(/public/assets/images/product-details/btn-zoom.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.product-container .main-image-wrapper {
    position: relative;
}

.row .col.l5.product-infos {
    padding-left: 30px;
}

.product-infos .description {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #2E2E2E;
}

.product-infos .list-tags {
    margin-top: 17px;
}

.product-infos .list-tags .tag {
    width: 75px;
    height: 22px;
    display: inline-block;
    margin-left: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.product-infos .list-tags .tag:first-child {
    margin-left: 0;
}

.product-infos .list-tags .tag.hang-moi {
    background-color: #E24C4C;
}

.product-infos .list-tags .tag.ban-chay {
    background-color: #219653;
    ;
}

.product-infos .list-tags .tag.giam-gia {
    background-color: #2F80ED;
}

.product-infos .list-tags .tag::before {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    display: block;
    text-transform: capitalize;
    line-height: 24px;
}

.product-infos .list-tags .tag.hang-moi::before {
    content: 'Hàng mới';
}

.product-infos .list-tags .tag.ban-chay::before {
    content: 'Bán chạy';
}

.product-infos .list-tags .tag.giam-gia::before {
    content: 'Giảm giá';
}

.product-infos .price {
    background-color: #F4F4F4;
    border: 1.08511px solid #DDDDDD;
    margin-top: 20px;
    padding: 10px 15px;
    overflow: hidden;
}

.product-infos .name {
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
    color: #000;
}

.product-infos .price .origin {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7B7B7B;
    float: left;
}

.product-infos .price .sale {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FE3834;
    float: right;
}

.product-infos .price .sale span {
    padding: 2px 4px;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #fff;
    background: #EB5757;
    display: inline-block;
    border-radius: 2px;
}

.product-infos .status-wrapper {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
}

.product-infos .status-label,
.product-infos .list-status .status,
.product-infos .list-status {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.product-infos .list-status .status {
    margin-left: 12px;
}

.product-infos .status-label {
    color: #000;
    text-transform: uppercase;
}

.product-infos .list-status .status.het-hang::before {
    content: 'Hết hàng';
    color: #EB5757;
}

.product-infos .list-status .status.dat-truoc::before {
    content: 'Đặt trước';
    color: #2F80ED;
}

.product-infos .list-status .status.con-hang::before {
    content: 'Còn hàng';
    color: #219653;
    font-size: 16px;
    text-transform: inherit;
}

.product-infos .colors-wrapper {
    margin-top: 12px;
}

.product-infos .color-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
}

.product-infos .colors {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 10px;
}

.product-infos .colors .color,
.product-infos .colors .color-detail {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: #EFEFEF;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    cursor: pointer;
    width: 120px;
    height: 32px;
    text-align: center;
    text-transform: initial;
}

.product-infos .colors .color.active,
.product-infos .colors .color-detail.active {
    background-color: #131313;
    color: #fff;
}

.product-infos .sizes-wrapper {
    margin-top: 17px;
}

.product-infos .size-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    display: inline-block;
}

.product-infos .size-label a {
    font-weight: 500;
    font-size: 11.297px;
    line-height: 13px;
    color: #000;
    display: inline-block;
    margin-left: 5px;
}

.product-infos .sizes {
    margin-top: 15px;
}

.product-infos .sizes .size,
.product-infos .sizes .size-detail {
    display: inline-block;
    background-color: #EFEFEF;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    cursor: pointer;
    width: fit-content;
    height: 32px;
    text-align: center;
    padding: 0 10px;
    text-transform: initial;
}

.product-infos .sizes .size.active,
.product-infos .sizes .size-detail.active {
    background-color: #131313;
    color: #fff;
}

.product-infos .pre-order-block {
    margin-top: 20px;
}

.pre-order-block .quantity-input {
    width: 90px;
    height: 39px;
    padding: 10px 13px;
    border: 1px solid #DDDDDD;
    float: left;
    background-color: #fff;
}

.quantity-input input[type=number]:not(.browser-default),
.quantity-input span {
    float: left;
    height: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #000;
}

.quantity-input input[type=number]:not(.browser-default) {
    width: 80%;
    text-align: center;
    border: none;
}

.quantity-input span {
    width: 10%;
    cursor: pointer;
}

.pre-order-block .add-to-card-btn,
.pre-order-block #buy-now-btn-detail,
.pre-order-block .add-to-card-btn-detail {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    margin-left: 2px;
    padding: 10px;
}

.pre-order-block .add-to-card-btn,
.pre-order-block .add-to-card-btn-detail {
    background-image: url(/public/assets/images/product/cart.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-color: #131313;
    padding-left: 30px;
}

.pre-order-block #buy-now-btn-detail {
    background-color: #E24C4C;
}
.pre-order-block .add-to-card-btn-detail.deactive,
.pre-order-block #buy-now-btn-detail.deactive {
    background-color: #ccc;
}
#list-image-popup {
    width: 90%;
    padding: 25px 0;
    background-color: rgba(7, 53, 82);
    max-height: 90%;
    top: 5% !important;
}

#list-image-popup .main-image-popup {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
}

#list-image-popup .list-thumbs-popup {
    margin-top: 45px;
    overflow: hidden;
}

#list-image-popup .img-block-popup {
    position: relative;
    width: calc(100% - 135px);
    float: left;
}

#list-image-popup .arrow-left,
#list-image-popup .arrow-right {
    width: 39px;
    height: 122px;
    background: rgba(255, 255, 255, 0.77);
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    background-position: center;
    background-size: 8px 14px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
}

#list-image-popup .arrow-left {
    background-image: url(/public/assets/images/product-details/left.svg);
    left: 0;
}

#list-image-popup .arrow-right {
    background-image: url(/public/assets/images/product-details/right.svg);
    right: 0;
}

#list-image-popup .thumbs-popup span {
    height: 122px;
    width: 122px;
    background-repeat: no-repeat;
    float: left;
    background-size: contain;
    margin-left: 18px;
    background-position: center;
    background-color: #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

#list-image-popup .thumbs-popup span:first-child {
    margin-left: 0;
}

#list-image-popup .thumbs-wrapper-popup {
    width: 100%;
    overflow: hidden;
}

#list-image-popup .thumbs-popup {
    line-height: 0;
    overflow: hidden;
}

#list-image-popup .thumbs-popup::after,
#list-image-popup .list-thumbs-popup::after,
.product-infos .price::after,
.product-infos .pre-order-block::after,
.pre-order-block .quantity-input::after {
    content: '';
    clear: both;
}

#list-image-popup .list-thumbs-popup .video-icon-popup {
    float: left;
}

#list-image-popup .list-thumbs-popup .video-icon-popup a {
    display: block;
    margin: 0;
    margin-left: 10px;
    width: 122px;
    height: 122px;
    padding-top: unset;
}

#list-image-popup .close-list-image-popup {
    background-image: url(/public/assets/images/product-details/close-button.svg);
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.ipk-container .product-rating {
    margin-top: 25px;
}

.fb-share-button {
    display: inline-block;
}

.add-wishlist-button {
    padding-left: 26px;
    background-image: url(/public/assets/images/product-details/heart.svg);
    background-position: left 0 center;
    background-size: 18px 17px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.ipk-container .product-descriptions {
    margin-top: 60px;
}

.product-descriptions .title {
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.product-descriptions .content {
    font-weight: normal;
    font-size: 18px;
    line-height: 41px;
    color: #000;
    padding: 40px 43px;
}

.product-descriptions .content img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.ipk-container .same-products-block {
    margin-top: 70px;
    padding-bottom: 80px;
}

.same-products-block .block-title {
    margin-top: 24px;
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .ipk-container .product-rating {
        text-align: center;
    }
}