.signup-container {
    padding: 135px 0 60px 0;
}
.signup-container .title {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.signup-container form {
    margin-top: 45px;
}
.signup-container form .input-group {
    width: 450px;
    margin: auto;
    margin-top: 40px;
}
.signup-container form .input-group:first-child {
    margin-top: 0;
}
.signup-container form .input-group .input,
.signup-container form .input-group .input[type=text]:not(.browser-default):focus:not([readonly]) {
    display: block;
    padding: 15px 12px;
    box-sizing: border-box;
    border: 1px solid #231F20;
    margin: 0;
    height: 50px;
}
.signup-container form .input-group .input-half,
.signup-container form .input-group .input-half[type=password]:not(.browser-default):focus:not([readonly]) {
    display: inline-block;
    width: calc(50% - 14.5px);
    margin: 0;
    margin-left: 25px;
    border: 1px solid #231F20;
    box-sizing: border-box;
    padding: 15px 12px;
}
.signup-container form .input-group .input-half:first-child,
.signup-container form .input-group .input-half[type=password]:not(.browser-default):focus:not([readonly]):first-child {
    margin-left: 0;
}
.signup-container form .input-group span {
    display: block;
    width: 450px;
    margin: auto;
    margin-top: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.signup-container form .or-group {
    width: 450px;
    margin: auto;
    margin-top: 75px;
}
.signup-container .or-group .or-label {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #000;
}
.signup-container .or-group .options {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}
/* .signup-container .options .fb,
.signup-container .options .gg {
    height: 104px;
    background-repeat: no-repeat;
    background-size: 103px 103px;
    float: left;
}
.signup-container .options .fb {
    background-image: url(/assets/images/signup/fb.svg);
    width: 104px;
}
.signup-container .options .gg {
    background-image: url(/assets/images/signup/gg.svg);
    width: 102px;
} */
.signup-container .options .fb,
.signup-container .options .gg {
    float: left;
    height: 40px;
}
.signup-container .options .fb {
    width: 120px;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow 0 2px 4px 0px rgba(0,0,0,.25): ;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.signup-container .options .or-txt {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #000;
    float: left;
    margin: 0 20px;
}
.signup-container .options::after {
    content: '';
    clear: both;
}
.signup-container .policy {
    text-align: center;
    margin-top: 50px;
}
.signup-container .policy span {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    color: #000;
}
.signup-container .policy span a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}
.signup-container .submit-signup-form {
    width: 180px;
    height: 60px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: 500;
    font-size: 22.4828px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: auto;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}
.add-cart-fail {
    width: 500px;
    height: 70px;
    padding: 0;
    padding-left: 90px;
    position: relative;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 70px;
    color: #523535;
}
.add-cart-fail::before {
    content: '';
    background-image: url(/assets/images/product-details/done.svg);
    background-position: center;
    background-size: 34px 34px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: red;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
}