.signup-container {
    padding: 135px 0 60px 0;
}
.signup-container .title {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.signup-container form {
    margin-top: 45px;
}
.signup-container form .input-group {
    width: 450px;
    margin: auto;
    margin-top: 40px;
}
.signup-container form .input-group:first-child {
    margin-top: 0;
}
.signup-container form .input-group .input,
.signup-container form .input-group .input[type=text]:not(.browser-default):focus:not([readonly]) {
    display: block;
    padding: 15px 12px;
    box-sizing: border-box;
    border: 1px solid #231F20;
    margin: 0;
    height: 50px;
}
.signup-container form .input-group .input-half,
.signup-container form .input-group .input-half[type=password]:not(.browser-default):focus:not([readonly]) {
    display: inline-block;
    width: calc(50% - 14.5px);
    margin: 0;
    margin-left: 25px;
    border: 1px solid #231F20;
    box-sizing: border-box;
    padding: 15px 12px;
}
.signup-container form .input-group .input-half:first-child,
.signup-container form .input-group .input-half[type=password]:not(.browser-default):focus:not([readonly]):first-child {
    margin-left: 0;
}
.signup-container form .input-group span {
    display: block;
    width: 450px;
    margin: auto;
    margin-top: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.signup-container form .or-group {
    width: 450px;
    margin: auto;
    margin-top: 75px;
}
.signup-container .or-group .or-label {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000;
}
.signup-container .or-group .options {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}
.signup-container .options .fb,
.signup-container .options .gg {
    height: 104px;
    background-repeat: no-repeat;
    background-size: 103px 103px;
    float: left;
}
.signup-container .options .fb {
    background-image: url(/assets/images/signup/fb.svg);
    width: 104px;
}
.signup-container .options .gg {
    background-image: url(/assets/images/signup/gg.svg);
    width: 102px;
}
.signup-container .options .or-txt {
    font-weight: normal;
    font-size: 22px;
    line-height: 104px;
    text-align: center;
    color: #000;
    float: left;
    margin: 0 20px;
}
.signup-container .options::after {
    content: '';
    clear: both;
}
.signup-container .policy {
    text-align: center;
    margin-top: 50px;
}
.signup-container .policy span {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    color: #000;
}
.signup-container .policy span a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}
.signup-container .submit-signup-form {
    width: 180px;
    height: 60px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: 500;
    font-size: 22.4828px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: auto;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}