.user-wishlist-container {
    padding-top: 20px;
    padding-bottom: 80px;
}
.user-wishlist-txt {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000;
    margin-top: 110px;
}