.notify-text {
    width: 100%;
    height: 32px;
    padding-left: 48px;
    background-image: url(/public/assets/images/order-details/alert.svg);
    background-position: left 17px center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    font-weight: normal;
    font-size: 12px;
    line-height: 32px;
    color: #000;
    background-color: rgba(76, 226, 167, 0.14);
    border: 1px solid #355816;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.user-infos {
    padding: 20px;
    margin-top: 25px;
    padding-left: 60px;
    background-color: #000;
    height: 94px;
    position: relative;
}
.user-infos .user-top-dropdown {
    display: block;
    background-image: url(/public/assets/images/order-details/triangle.svg);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    position: absolute;
    left: 22px;
    top: calc(50% - 8.5px);
    width: 17px;
    height: 17px;
}
.user-infos::after {
    content: '';
    clear: both;
}
.user-infos .avatar {
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ccc;
    float: left;
}
.user-infos .info {
    float: left;
    margin-left: 13px;
}
.user-infos .info .name {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
    padding-top: 12px;
}
.user-infos .info .email {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.user-infos .logout-link {
    margin-left: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    background-image: url(/public/assets/images/order-details/power.svg);
    background-size: 19px 20px;
    background-repeat: no-repeat;
    background-position: left 0 center;
    float: right;
    padding-left: 29px;
}
#user-top-dropdown {
    top: 94px!important;
    left: 0!important;
    width: 240px!important;
    padding: 18px 12px;
}
#user-top-dropdown.dropdown-content li {
    margin-top: 10px;
    min-height: fit-content;
}
#user-top-dropdown.dropdown-content li:first-child {
    margin-top: 0;
}
#user-top-dropdown.dropdown-content li>a {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    padding: 0;
    
}
@media only screen and (max-width: 414px)
{
    .user-infos {
        margin-top: 4px;
    }
}
