* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

input[type=number]:not(.browser-default):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

nav {
  background-color: unset;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

.remove-line-height {
  line-height: 0;
}

a {
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.ipk-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.dropdown-content li:hover, .dropdown-content li.active {
  background-color: unset;
}

.ipk-container .ipk-content-container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.row {
  margin-bottom: 0;
}

.s5ths, .m5ths, .l5ths, .xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: calc(20% - 16px);
  margin-left: 20px;
}

.add-cart-success {
  width: 500px;
  height: 70px;
  padding: 0;
  padding-left: 90px;
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 70px;
  color: #523535;
}

.add-cart-success::before {
  content: '';
  background-image: url(/public/assets/images/product-details/done.svg);
  background-position: center;
  background-size: 34px 34px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: #EDF5E6;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
}

.add-cart-fail {
  width: 500px;
  height: 70px;
  padding: 0;
  padding-left: 90px;
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 70px;
  color: #523535;
}

.add-cart-fail::before {
  content: '';
  background-image: url(/public/images/product-details/done.svg);
  background-position: center;
  background-size: 34px 34px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: red;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
}

.ipk-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 10000;
}

.ipk-preloader .preloader-wrapper {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.news-feed-container {
  background-color: #131313;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #073552!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #073552!important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #073552;
  background-color: #073552;
  border-radius: 4px;
  z-index: 0;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  height: 22px;
  width: 22px;
  border: 2px solid #EFEFEF;
  background-color: #eee;
  border-radius: 4px;
}

[type="checkbox"]+span:not(.lever) {
  line-height: 25px;
  font-size: 15px;
  padding-left: 30px;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: #073552!important;
}

.noUi-connect {
  background: #073552!important;
}

.price-range label {
  font-size: 12px!important;
}

#price-range {
  margin-top: 20px !important;
  margin-bottom: 50px!important;
}

#content .row .col.product {
  padding: 30px;
  /* height: 420px!important; */
}

.filter-block {
  margin-top: 20px!important;
}

.select-dropdown {
  border: 1px solid #000;
}

.select-dropdown.dropdown-content li.selected {
  background-color: #073552!important;
}

.filter-block .dropdown-content .selected li>span {
  color: #fff!important;
}

.filter-block .dropdown-content .selected span {
  color: #fff;
}

/* .dropdown-content li {
  height: 30px!important;
} */

.select-wrapper ul {
  top: 25px!important;
}

.filter-block .dropdown-content li>span {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  color: #000;
  padding: 10px;
}
#toast-container>div{
  width: 22em!important;
}
@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: calc(20% - 16px);
    margin: 0px 10px;
  }
  .slide-wrapper-category .slick-list {
    margin: 0 -10px;
  }
  .row .col {
    padding: 0;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: calc(20% - 16px);
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: calc(20% - 16px);
    margin-left: 20px;
  }
}
#cart-page #products .product .price-color{
  display: flex;
  justify-content: space-between;
}
#cart-page #products .product .price-color .color-size{
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

@media only screen and (max-width:768px) {
  .list-category .cat-item p {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .remove-line-height.cat-item {
    margin-bottom: 12px;
  }
  .products-wrapper .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  input.news-feed-email {
    max-width: 100%;
    margin: 10px 0 !important;
    box-sizing: border-box !important;
  }
  .img.img_product {
    height: 180px;
  }
  .login-container .or-group {
    max-width: 100%;
  }
  .ipk-content-container .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .login-container form {
    margin-top: 40px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-container .sub-title {
    text-align: center;
    width: 220px;
    margin: auto;
  }
  .s12 .title, .s12 .sub-title {
    text-align: center;
  }
  .login-container .create-account-btn {
    margin: 40px auto !important;
  }
  .login-container .create-account-btn a {
    margin: auto;
  }
  .login-container {
    padding: 60px 0 0 !important;
  }
  .login-container .or-group .options {
    margin-bottom: 20px !important;
  }
  .login-container .or-group {
    margin-top: 40px !important;
  }
  .address-block .sub-title {
    text-align: center;
  }
  .payment-delivery-block {
    display: flex;
    flex-direction: column;
    margin-top: 10px !important;
    margin-bottom: 40px !important;
  }
  .payment-delivery-block .methods {
    width: 100% !important;
    margin: 10px !important;
  }
  .list-button-wrapper .list-button {
    width: 90% !important;
  }
  .list-button-wrapper .list-button .complete {
    margin-left: 20px !important;
  }
  .payment-infos .info {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .payment-container .payment-infos {
    padding-top: 0px !important;
  }
  .address-block .add-new-address {
    margin-left: 10px;
  }
  .ipk-container .ipk-content-container {
    max-width: 95%;
  }
  .product-infos {
    padding: 20px 15px !important;
  }
  .pre-order-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pre-order-block .buy-now-btn {
    margin-left: auto !important;
    margin: 20px auto;
  }
  .ipk-content-container nav {
    height: auto !important;
  }
  .product-breadcrumbs .ipk-content-container .s12 {
    display: flex;
    flex-wrap: wrap;
  }
  .ipk-content-container nav .breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ipk-content-container .breadcrumb:last-child {
    padding-left: 0 !important;
  }
  .footer .s12 {
    margin-bottom: 15px;
  }
  .partners .partner-item {
    background-size: contain !important;
  }
  .products .product.col {
    padding: 15px !important;
    height: 290px !important;
  }
  header .ipk-left-header {
    z-index: 1;
  }
  .sale-product-slider .carousel-item .item-infos-mobile .time {
    display: flex;
  }
  .sale-product-slider .carousel-item .button-detail {
    right: 50% !important;
    transform: translateX(50%);
  }
  #quickview .modal-content {
    padding: 15px !important;
  }
  #quickview .modal-content .quickview-slider {
    width: 100%;
  }
  #quickview .modal-content .product-infos {
    width: 100%;
    padding: 20px 0 !important;
  }
  #quickview .product-infos .sizes-wrapper .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  #quickview .product-infos .colors .color {
    width: calc((100% /3) - 7px);
    margin-left: 0 !important;
  }
  #quickview .product-infos .sizes-wrapper .sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  #quickview .product-infos .sizes .size {
    width: calc((100% /2) - 10px) !important;
    margin-left: 0 !important;
  }
  .product-infos .pre-order-block #buy-now-btn-detail {
    margin: 20px auto 0 !important;
  }
  .product-container .ipk-content-container .list-thumb-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
  .cart-container .products-wrapper {
    margin-top: 0 !important;
  }
  .cart-container .products-wrapper #products .product {
    width: 100%;
  }
  .cart-container .products-wrapper #products .product .quantity-delete .delete-link a {
    font-size: 16px;
  }
  .cart-container .products-wrapper #products .product .quantity .quantity-input {
    margin: 0 10px;
  }
  .cart-container .products-wrapper #products .product .quantity {
    width: auto;
  }
  .cart-container .products-wrapper #products .product .img {
    background-size: cover;
    padding-top: 70%;
  }
  .cart-container .products-wrapper .list-button-wrapper, .payment-container .list-button-wrapper {
    margin-top: 30px !important;
  }
  .cart-container .products-wrapper .list-button-wrapper .list-button, .payment-container .list-button-wrapper .list-button {
    margin-top: 30px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cart-container .products-wrapper .list-button-wrapper .list-button a, .payment-container .list-button-wrapper .list-button a {
    margin: 0;
    width: 45%;
    padding: 12px 0px;
  }
  .cart-container .products-wrapper .list-button-wrapper .list-button .sum, .payment-container .list-button-wrapper .list-button .sum {
    margin: 15px 0;
    width: 100%;
    text-align: center;
  }
  .payment-container .list-address .address {
    width: 100%;
  }
  #new-address-popup {
    padding: 0 !important;
  }
  #new-address-popup .form-input.center-align {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer .social-icons {
    margin-top: 0px;
  }
  .list-category .cat-item p {
    min-height: 50px;
  }
  .ipk-content-container .title {
    margin-bottom: 0px;
  }
  .news-feed-container input.news-feed-email, .news-feed-container input.news-feed-email:focus {
    padding-left: 16px;
    width: 245px;
  }
  .news-feed-container input.news-feed-email, .news-feed-container input.news-feed-email:focus {
    height: 38px;
  }
  .news-feed-container input.news-feed-email, .news-feed-container input.news-feed-email:focus {
    width: 240px;
  }
  .news-feed-container {
    background-color: #131313;
    padding: 20px 0 0 0;
    text-align: center;
    height: 120px;
  }
  .products .product .button-wrapper {
    display:none;
  }
  .row .col.product .price .sale {
    display:block
  }
  .products-block {
    margin-top: 30px;
  }
  .products-block .block-title {
    font-size: 25px;
  }
  .products {
    margin-top: 0px;
  }
  .pre-order-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .ipk-container .product-descriptions {
    margin-top: 30px;
  }
  .ipk-container .product-rating {
    margin-top: 15px;
  }
  .product-descriptions .content {
    padding: 10px;
  }
  .ipk-container .same-products-block {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .list-category .cat-item p {
    font-size: 16px;
  }
  .product-infos .pre-order-block #buy-now-btn-detail {
    margin: 0px 0 0 2px !important;
    width: 100px !important;
  }
  .pre-order-block .quantity-input {
    width: 66px;
  }
  .quantity-input input[type=number]:not(.browser-default), .quantity-input span {
    font-size: 16px;
  }
  .ipk-container .product-rating {
    margin-top: 0px;
  }
  #quickview .product-infos .status-wrapper {
    margin-top: 20px;
  }
  #quickview .product-infos .colors .color {
    width: calc((100% /3) - -74px);
    margin-left: 0 !important;
  }
  .pre-order-block .buy-now-btn {
    margin-left: auto !important;
    margin: 5px 2px 0px 0px;
    width: 180px !important;
  }
  .ipk-content-container .breadcrumb:last-child {
    font-size: 14px!important;
    line-height: 22px!important;
    margin-left: 8px;
  }
  .ipk-container audio, video {
    display: inline-block;
    border-radius: 4px;
    max-height: 130px;
    padding: 0 10px;
  }
  .banner {
    padding-top: 24px;
  }
  .sale-products .carousel.carousel-slider {
    height: 350px!important;
  }
  .sale-products .carousel.carousel-slider .carousel-item {
    min-height: 300px!important;
  }
  .cart-container .title {
    text-transform: capitalize;
  }
  .cart-container {
    padding-top: 24px!important;
  }
  .footer {
    padding-top: 24px!important;
  }
  .cart-container .products-wrapper {
    padding: 0 10px;
  }
  .list-news-container {
    padding-top: 24px!important;
  }
  .tiles-wrap.wookmark-initialised.animated li {
    margin-top: 0px;
  }
  #content .row .col.product .img {
    height: 146px!important;
  }
  [type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff!important;
    border-bottom: 2px solid #fff!important;
  }
  #content .row .col.product {
    padding: 30px;
    height: 250px!important;
  }
  #cart-page .title{
    margin-bottom: 30px;
  }
  #cart-page .title i{
    margin: 0 10px;
  }
  #cart-page .title .pass{
    font-weight: 500;
    color: #C4C4C4;
  }
  #cart-page #products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 10px;
  }
  #cart-page #products .product{
    padding: 0 !important;
    background-color: #fff;
    height: auto !important;
  }
  #cart-page #products .product .img{
    height: 160px;
    position: relative;
  }
  #cart-page #products .product .img::before{
    position: absolute;
    content: '-50';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    left: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    font-size: 9px;
    align-items: center;
  }
  #cart-page #products .product .img::after{
    position: absolute;
    content: 'x';
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #C4C4C4;
    color: #fff;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
  }
  #cart-page #products .product .name{
    height: 40px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    padding: 0 8px;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  #cart-page #products .product .price-color{
    margin-top: 5px;
    padding: 0 8px;
    font-size: 13.5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #cart-page #products .product .price-color .color-size{
    display: flex;
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    justify-content: space-between;
  }
  #cart-page #products .product .price-color .color-size span{
    display: none;
  }
  #cart-page #products .product .delete-link{
    display: none !important; 
  }
  #cart-page #products .product .quantity-delete {
    margin-bottom: 12px;
  }
  #cart-page #products .product .quantity-delete .quantity{
    width: fit-content;
    margin: auto;
    float: unset;
  }
  #cart-page .products-wrapper{
    padding: 0;
  }
  #cart-page .list-button-wrapper{
    margin-top: 0 !important;
    padding: 20px 0 24px;
  }
  #cart-page .list-button-wrapper .list-button{
    margin: 0 !important;
    width: 100% !important;
  }
  #cart-page .list-button-wrapper .list-button .sum{
    margin: 34px 0 0;
  }
  #cart-page #sum-price{
    display: flex;
    justify-content: space-between;
  }
  #cart-page .list-button-wrapper .list-button .count-products{
    text-align: left;
  }
}
