.ipk-content-container .nav-wrapper a {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.ipk-content-container nav {
    height: 36px;
    line-height: 36px;
}

.ipk-content-container .breadcrumb {
    border-right: 1px solid #000;
    padding: 0 10px;
}

.ipk-content-container .breadcrumb:first-child {
    padding-left: 0;
}

.ipk-content-container .breadcrumb:last-child {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    border-right: unset;
    padding-right: 0;
}

.ipk-content-container .breadcrumb:before {
    content: unset;
}

.product-breadcrumbs {
    background-color: #DDD;
}

